### Tuple

In [3]:
t1=(3,12,14,45)
print(t1)
print(type(t1))

(3, 12, 14, 45)
<class 'tuple'>

In [12]:
t1=(20 ,)
print(type(t1))
print(len(t1))

<class 'tuple'>
1

In [6]:
t2=tuple()
print(type(t2))

<class 'tuple'>

In [22]:
t3=20,30,40,50
print(type(t3))
print(t3[-1])
for x in t3[:3]:
    print(x,end=",")
print(t3[3])

<class 'tuple'>
50
20,30,40,50

In [34]:
t3=20,30,40,50,30,30,30
t3=list(t3)
t3.append(200)
t3.insert(1,400)
t3[1]=500
t3.remove(20)
if 500 not in t3:
    print("No")
else:
    print("yes")
c=t3.count(30)
index=t3.index(30)
print(index)
print(c)
print(t3)

yes
1
4
[500, 30, 40, 50, 30, 30, 30, 200]

In [36]:
t3=20,30,40,50,30,30,30
s=tuple(sorted(t3))
print(s)

(20, 30, 30, 30, 30, 40, 50)

In [38]:
t3=20,30,40,50,30,30,30
t3=list(t3)
t3.sort()
print(tuple(t3))

(20, 30, 30, 30, 30, 40, 50)

In [39]:
def function(num1,num2):
    res1=num1+num2
    res2=num1-num2
    res3=num1*num2
    return res1,res2,res3

In [40]:
result= function(9,3)
print(result)

(12, 6, 27)

In [44]:
x,y,*z=(12,13,14,15)
print(x,y,z)

12 13 [14, 15]

In [45]:
x,*y,z=(12,13,14,15,16,17)
print(x,y,z)

12 [13, 14, 15, 16] 17

In [46]:
*x,y,z=(12,13,14,15,16,17)
print(x,y,z)

[12, 13, 14, 15] 16 17

In [1]:
t1=(12,16,18,20)
t2=(2,5,3)
t3=t1 + (5000,)
#del t3
print(t3)

(12, 16, 18, 20, 5000)

In [52]:
name=("p1","p2","p3")
price=(200,130,300)
color=("r","b","y")
products=list(zip(name,price,color))
for i in products:
    print(i)
print(products)

('p1', 200, 'r')
('p2', 130, 'b')
('p3', 300, 'y')
[('p1', 200, 'r'), ('p2', 130, 'b'), ('p3', 300, 'y')]

In [53]:
name=("p1","p2","p3")
price=(200,130,300)
color=("r","b","y")
products=list(zip(name,price,color))
for n,p,c in products:
    print(n,p,c)
print(products)

p1 200 r
p2 130 b
p3 300 y
[('p1', 200, 'r'), ('p2', 130, 'b'), ('p3', 300, 'y')]

In [54]:
list1=[3,4,5,6]
result=list(enumerate(list1))
for n , v in result:
    print(n,v)

0 3
1 4
2 5
3 6

### Set

In [3]:
set1={4,12,17}
print(set1)
print(type(set1))

{17, 4, 12}
<class 'set'>

In [4]:
set1={4,12,17}
for x in set1:
    print(x,end=",")

17,4,12,

In [1]:
set1={}
print(type(set1))

<class 'dict'>

In [3]:
set1=set()
print(type(set1))
print(len(set1))

<class 'set'>
0

In [5]:
set1={12,4,15,17,8,9,20,1,6,1,1}
print(len(set1))
print(set1)

9
{1, 4, 6, 8, 9, 12, 15, 17, 20}

In [8]:
set1={1,True,0,False,12,0.0,1.0,1.1}
print(len(set1))
print(set1)

4
{0, 1, 12, 1.1}

In [11]:
set1={3,14,15}
set1.add(10)
print(set1)

{10, 3, 14, 15}

In [19]:
set1={3,14,15,3,3,3}
set1.update([3,12,20])
set1.discard(30)
set1.clear()
print(set1)

set()

In [22]:
set1={3,14,15,3,3,3}
del set1

In [26]:
set1={3,14,15,3,3,3}
set1.pop()
print(set1)

{14, 15}

In [40]:
import os
path="/Filoger/session11/Files/"
result= list(os.walk(path))
exts=set()
for path, dirs,files in result:
    for file in files:
        print(file)
        ext=file.split(".")[-1]
        exts.add(ext)
print(exts)

pic1.jpg
txt1.txt
my_home_exercise.ipynb
{'txt', 'jpg', 'ipynb'}

In [45]:
t1=(4,13,12)
t2=tuple(t1)
print(t1 is t2)
print(id(t1))
print(id(t2))

True
2046034753792
2046034753792

In [52]:
list1=[3,5,7]
list2=[3,5,7]
print(list1 == list2)
print(list1 is list2)
list3 = list1
print(list3 is list1)
print(id(list1))
print(id(list2))
print(id(list3))
list1.append(30000)
list1.remove(3)
print(list1,list3,list2)

True
False
True
2046034835328
2046034891776
2046034835328
[5, 7, 30000] [5, 7, 30000] [3, 5, 7]

In [60]:
list1=[3,5,7]
list2=[3,5,7]
list3=list1[:]
list1.append(300000)
list1[1]=50000000
print(list1,list3)

[3, 50000000, 7, 300000] [3, 5, 7]

In [59]:
list1=[3,5,7,[2,4,6]]
list3=list1[:]
print(list1[3][1])
list1[3][1]=200
print(list1,list3)

4
[3, 5, 7, [2, 200, 6]] [3, 5, 7, [2, 200, 6]]

In [62]:
import copy
list1=[3,5,7,[2,4,6]]
list3=copy.deepcopy(list1)
list1[3][1]=2000000
print(list1,list3)

[3, 5, 7, [2, 2000000, 6]] [3, 5, 7, [2, 4, 6]]

In [67]:
dict1={
    "a":2,
    "b":{"c":200,"d":5}
}
dict2=dict(dict1)
print(dict2)
dict2["a"]=300000
print(dict2,dict1)

{'a': 2, 'b': {'c': 200, 'd': 5}}
{'a': 300000, 'b': {'c': 200, 'd': 5}} {'a': 2, 'b': {'c': 200, 'd': 5}}

In [69]:
import copy
dict1={
    "a":2,
    "b":{"c":200,"d":5}
}
dict2=copy.deepcopy(dict1)
print(dict2)
dict2["b"]["c"]=500000
print(dict2,dict1)

{'a': 2, 'b': {'c': 200, 'd': 5}}
{'a': 2, 'b': {'c': 500000, 'd': 5}} {'a': 2, 'b': {'c': 200, 'd': 5}}

In [72]:
set1={4,5,6,6,7}
set2=set(set1)
set2.add(30)
print(set1,set2)

{4, 5, 6, 7} {4, 5, 6, 7, 30}