In [1]:
length = 15
weidth = 12
area = length * weidth
environment = (length + weidth) * 2
print(area, environment)

180 54

### var

In [9]:
### var name
x1 = 10
x = 20

In [10]:
a = 12
b = 19
c = 15
d = 12
e = 20
print(a, b, c, d, e)

12 19 15 12 20

In [ ]:
math = 12
python = 17
fistnumber = 12

In [ ]:
## camelCase
fistNumber = 12
## PascalCase
FistNumber = 12
Math = 14
## snake_case 
fist_number = 12

### var Type

In [ ]:
number1 = 12
number2 = 14.5
## integer(int), float, string(str), boolean(bool)

In [ ]:
## int
number3 = 12

In [18]:
## float
number4 = 12.7

In [22]:
## str
name = '123'
print(name)

123

In [25]:
## bool
flag1 = True
flag2 = False
print(flag1, flag2)

True False

In [32]:
num1 = 20   # int
num2 = 23. # float
name = "sara"
flag = True
## type()
t1 = type(flag)
print(t1)

<class 'bool'>

In [47]:
x = 10
t1 = type(x)
print(t1)
x = 20.3
print(type(x))

<class 'int'>
<class 'float'>

In [36]:
x = 13
y = 12
y = x
print(y)

13

In [41]:
## int, float
## +, -, *, /, **, //, %
num1 = 12
num2 = 7.3
print(num1 ** 3)
print(num1 / 5)
print(num1 // 5)
print(num1 % 5)

1728
2.4
2
2

In [46]:
## >, <, >=, <=, ==, !=   =====> res : bool
num1 = 20
num2 = 20
print(num1 >= num2)
print(num1 == num2)
print(num1 != num2)

True
True
False

In [51]:
# or, and
num1 = 20
num2 = 30
num3 = 39
#         True    and     False   and    True
print(num2 > num1 and num2 > num3 and num3 > num1)
print(num2 > num1 or num2 > num3 or num3 > num1)

False
True

In [54]:
num1 = 10
num2 = 15
num3 = 20
print(num1 < num2 and num2 < num3)

True

In [56]:
num = "12"
#print(num + 2)

### Casting

In [59]:
## int()
num = "12"
print(type(num))
num = int(num) #  int("12") ===> 12
print(type(num))
print(num + 2)

<class 'str'>
<class 'int'>
14

In [61]:
num = "python"
#num = int(num)

In [62]:
num = "12.4"
num = int(num)
print(num)

ValueError: invalid literal for int() with base 10: '12.4'

In [63]:
num = 12.4
num = int(num)
print(num)

12

In [64]:
flag1 = True
flag2 = False
flag1 = int(flag1)
flag2 = int(flag2)
print(flag1, flag2)

1 0

In [65]:
## float
num = 10
num = float(num)
print(num)

10.0

In [66]:
num = "12"
num = float(num)
print(num)

12.0

In [69]:
num = "12.4"
num = float(num)
print(num)

12.4

In [70]:
flag1 = True
flag2 = False
flag1 = float(flag1)
flag2 = float(flag2)
print(flag1, flag2)

1.0 0.0

In [72]:
## str()
num1 = 12
num2 = 2.3
flag = True
num1 = str(num1)
num2 = str(num2)
flag = str(flag)
print(num1, num2, type(flag))

12 2.3 <class 'str'>

In [79]:
## bool()
# False, 0, "", 0.0
num = -10
num = bool(num)
print(num)

True

In [87]:
num = False
num = int(num)
print(num)

0

In [86]:
python = 12
name = "1456"
print(name)
num1 = 10
num2 = 15
print(num1 != num2)

1456
True